footer.bg-dark.text-center.text-lg-start.text-light
    .text-center.p-3(style="background-color: rgba(0, 0, 0, 0.2);")
        span © 2020 Copyright:
        a.text-light.ms-2(href="https://mdbootstrap.com/") MDBootstrap.com